body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.container .navigation {
    display: flex;
    gap: 76px;
    align-items: center;
}

.navigation .navigation-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 0;
}

.contacts .contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navigation {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contactsc {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.navigation .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d5ae5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.navigation .logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2f42;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.navigation {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contact-link {
    font-style: normal;
    color: #434455;
}

.nav-link {
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
    color: #404bbf;
}

.hero-main {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn-hero {
    display: block;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;

}

.title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    margin-bottom: 48px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv-item {
    display: flex;
    gap: 24px;
}

.adv-list {
    width: calc((100% - 72px) / 4);
}

.adv-sub {
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.title-second {
    margin-bottom: 72px;
}

.member-info {
    padding: 32px 0;
}

.member-info .title-third {
    margin-bottom: 8px;
}

.team-member {
    width: calc((100% - 72px) / 4);
}

.team-member {
    width: calc((100% - 72px) / 4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.op-list {
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.item {
    width: calc((100% - 48px) / 3);
}

.op-card {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.op-card .title-third {
    margin-bottom: 8px;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-hero:active {
    background-color: #404bbf;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #f4f4fd;
}

.team-member {
    background-color: #ffffff;
    text-align: center;
}

.footer {
    background-color: #2e2f42;
}

.footer .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d5ae5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer .logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #f4f4fd;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-paragraph {
    width: 264px;
    margin: 16px auto 0 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}